ascii-graph==1.5.1
certifi==2018.8.24
chardet==3.0.4
idna==2.7
numpy==1.15.1
oauthlib==2.1.0
PySocks==1.6.8
requests==2.19.1
requests-oauthlib==1.0.0
six==1.11.0
tqdm==4.25.0
tweepy==3.6.0
urllib3==1.23
